/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.brandHeader {
  height: 5rem;
  width: 100vw;
  max-width: 75rem;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brandImg {
  object-fit: cover;
  height: 40px;
  width: 72px;
}

.brandNav {
  margin: 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  color: #535353;
  font-weight: 700;
}

.loginBtn {
  background-color: rgba(211, 40, 42, 255);
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}

.menuIcon {
  display: none;
  object-fit: cover;
  height: 3rem;
  width: 3rem;
}

.menusNav {
  position: absolute;
  top: 4.5rem;
  right: 0.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: fit-content;
  min-width: 6rem;
  border: 1px solid black;
}

.menuNav {
  border-bottom: 1px solid black;
}

@media screen and (max-width: 780px) {
  .menusNav {
    display: flex;
  }
  .menuIcon {
    display: flex;
  }
  .loginBtn {
    display: none;
  }
  .brandsNav {
    display: none;
  }
  .nikeLogo {
    right: -83px;
  }
}
